<template>
  <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <form method="POST" action="" @submit.prevent="handleSubmit">
                            <h1 align="center">Login</h1>
                            <div class="form-group">
                                <input type="phone" name="phone" class="form-control" v-model="phone" placeholder="Phone" id="phone">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" v-model="password" placeholder="Password" id="password">
                            </div>
                            <router-link to="profil" type="submit" class="btn btn-primary btn-block">Login</router-link>
                        </form>
                        <small>Belum punya akun? <router-link to = "register" class="font-weight-bold">Sign Up</router-link></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'Login',
        data(){
            return {
                phone:'',
                password:''
            }
        },
        methods: {
            async handleSubmit(){
                const response = await axios.post('http://localhost/ci-privy/public/users', {
                    phone: this.phone,
                    password: this.password
                });
                    console.log(response);

                    this.router.push('/');
            }
        }
    }
</script>

<style>

</style>