<template>
  <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <form method="POST" action="">
                            <h3 align="center">Percobaan OTP</h3>
                            <div class="form-group">
                                <input type="phone" name="phone" class="form-control" placeholder="Kode" id="phone">
                            </div>
                            <router-link to="/" type="submit" class="btn btn-primary btn-block">Verifikasi</router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Otp',
    }
</script>

<style>

</style>