<template>
    <div class="container">
        <div class="cover mt-5">
            <input type="file" class="file-cover">
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profil">
                    <div class="profil-img">
                        <input type="file" class="file-profil">
                    </div>
                </div>
                <router-link to="/" class="btn btn-danger">Logout</router-link>
                <table class="table table-borderless mt-2">
                        <tr>
                            <td>Name</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Birthday</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Homertown</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Bio</td>
                            <td></td>
                        </tr>
                    </table>
            </div>
            <div class="col-md-9">
                <div class="card card-body mt-4">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Profil'
}
</script>

<style>
    .cover {
        height: 250px;
        background: #aaaaaa;
    }
    .file-cover {
        bottom: 0;
        outline: none;
        color: transparent;
        width: 100%;
    }
    .profil {
        margin-top: -70px;
        margin-left: 50px;
        height: 150px;
        width: 150px;
        background: #838282;
        border-radius: 50%;
    }
    .file-profil {
        bottom: 0;
        outline: none;
        color: transparent;
        width: 100%;
    }
    .table {
        border: 1px solid #d6d4d4;
    }
</style>