<template>
        <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <form method="POST" action="" @submit.prevent="handleSubmit">
                            <h1 align="center">Register</h1>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control" v-model="phone" placeholder="Phone" id="phone">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" v-model="password" placeholder="Password" id="password">
                            </div>
                            <div class="form-group">
                                <input type="text" name="country" class="form-control" v-model="country" placeholder="Country" id="country">
                            </div>
                            <router-link to="otp" type="submit" class="btn btn-primary btn-block">Register</router-link>
                        </form>
                        <small>Sudah punya akun? <router-link to="/" class="font-weight-bold">Login</router-link></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'Register',
        data(){
            return {
                phone:'',
                password:'',
                country:''
            }
        },
        methods: {
            async handleSubmit(){
                // console.log(data)
                const response = await axios.post('', {
                    phone: this.phone,
                    password: this.password,
                    country: this.country
                });
                    console.log(response);

                    this.router.push('/');
            }
        }
    }
</script>

<style>

</style>